.image {
    width: 240px;
    height: 180px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    align-content: center;
    padding:5%;
    gap:  20% 5%;
}

.cell {
    background-color: #2b2d42;
    border-radius: 5%;
    width: fit-content;
    height: fit-content;
}
.score {
    padding-top: 2%;
    padding-left: 5%;
    background-color: #ef233c;
    height: 200px;
    font-size: xx-large;
    color: blanchedalmond;
}